node_modules
dist
config.yml
logs
# template
*.bak/*
data
.vscode
*error.log

template/*
!/template/friend_check.html
!/template/sendMessageHelloWorld.json
!/template/config.update.template.yml
!/template/config.template.yml